@import "styles/variables";

.wrapperValue {
    position: absolute;
    transform-origin: 50% 98%;
    width: 2px;
    height: 210px;
    top: -5%;
    left: 49%;
    background: none;
    z-index: 1000;

    @media (min-width: $media-min-screen) {
        height: 320px;
        top: 5%;
        left: 44%;
    }
}

.value {
    font-size: 44px;
    position: absolute;
    top: 0;
    //left: 0;
    left: 50%;
    transform: translateX(-50%);
}

.speedometerProgressSupply {
    position: absolute;
    width: 115%;
    top: -20%;
    left: -7%;

    @media (min-width: $media-min-screen) {
        top: 15%;
        left: -13%;

        path {
            strokeWidth: 3px;
        }
    }

    stop:nth-child(1) {
        stop-color: #FF0000;
    }

    stop:nth-child(2) {
        stop-color: #9F0000;
    }

    stop:nth-child(3) {
        stop-color: transparent;
    }

    stop:nth-child(4) {
        stop-color: transparent;
    }
}