@import "styles/variables";

.arrowWrapper {
    position: absolute;
    transform-origin: 46% 88%;
    transition: transform 0.5s linear;
    transform: rotate(-130deg);
    top: 22%;
    left: 44%;
    width: 31px;
    z-index: 20;

    @media (min-width: $media-min-screen) {
        width: auto;
        top: 22%;
        left: 39%;
    }

    .head {
        position: absolute;

        left: 50%;
        transform: translateX(-50%);
        top: -16px;
        width: 24px;
        height: 32px;

        @media (min-width: $media-min-screen) {
            top: -30px;
            width: 44px;
            height: 60px;
        }
    }

    .arrow {
        width: 100% !important;
        height: 100% !important;
    }

}
