@import "styles/variables";

.arrowWrapper {
    position: absolute;
    transform-origin: 46% 88%;
    transition: transform 0.5s linear;
    z-index: 20;
    //transform: rotate(-130deg);
    top: 4%;
    left: 41%;
    width: 10%;

    @media (min-width: $media-min-screen) {
        width: 10%;
        top: 5%;
        left: 41%;
        //transform: translateX(-50%);
        //top: 22%;
        //left: 39%;
    }

    .head {
        position: absolute;

        left: 50%;
        transform: translateX(-50%);
        top: -15px;
        width: 80%;
        height: auto;
        //height: 32px;

        @media (min-width: $media-min-screen) {
            top: -30px;
        }
    }

    .arrow {
        width: 100% !important;
        height: 100% !important;
    }

}
