@import "styles/variables";

.speedometer {
    display: flex;
    z-index: 1000;
    position: relative;
    width: 90%;
    max-width: 400px;
    //height: 472px;
    margin: 50px auto 0 auto;

    @media (min-width: $media-min-screen) {
        width: 451px;
        max-width: none;
        height: 472px;
        margin: 50px 0 0 0;
    }
}

.speedometerImage {
    width: 100%;
    height: auto;
}